/* Made with love by Mutiullah Samim*/
@import url('https://fonts.googleapis.com/css?family=Numans');

#index {
	background-image:url(/A_channel/image/Fotolia_261908300.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.container {
	height: 100%;
	align-content: center;
}

.header {
	padding: 8rem 0 0 0;
	color: white;
}

.h-100 {
	padding-top: 6rem;
}

.card-body {
	padding: 0 1.25rem !important;
}

.signin, .signup {
	height: 470px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
	color: white;
}

.form-group {
	padding: 0.7rem 0;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.login_btn, .createaccount_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover, .createaccount:hover {
	color: black;
	background-color: white;
}

.card-footer, .card-header {
	padding: 1.6rem 1.25rem !important;
}

.js-fadein {
	opacity: 0;
	visibility: collapse;
	transform: translateY(40px);
	transition: all 1s;
	transform: translateY(40px);
	transition: all 1s;
}

.js-fadein.is-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

/***
main.jsp
***/
#home {
	background-color: white !important;
}

.header_home ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	list-style: none;
}

li {
	padding: 20px 60px;
}

ul.header_home li {
	margin: 0;
	padding: 10px important;
	display: list-item;
	text-align: -webkit-match-parent;
}



.container-fluid {
	display: flex;
	height: 100vh;
	padding-right:0px !important;
	padding-left:0px !important;
}

.home_container .center_contents, .home_container .right_contents {
	max-height: 100vh;
}

.left_contents {
	overflow: hidden;
	flex: 1;
	background: black;
}

.center_contents {
	overflow: hidden;
	flex: 2;
	background: #e4455f;
}

.center_contents:hover {
	overflow: auto;
}

.right_contents {
  overflow: auto;
  flex: 3;
  background: #5f9cda;
}